<!DOCTYPE html>
<html lang = "en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scaled = 1.0">
    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
    <title>Lottery-Tickets</title>
</head>
<body>

  <header class="text-gray-500 bg-gray-900 body-font">
    <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center">
      <a class="flex title-font font-medium items-center text-white mb-4 md:mb-0">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-10 h-10 text-white p-2 bg-indigo-500 rounded-full" viewBox="0 0 24 24">
          <path d="M12 2L2 7l10 5 10-5-10-5zM2 17l10 5 10-5M2 12l10 5 10-5"></path>
        </svg>
        <span class="ml-3 text-xl">Your Cart</span>
      </a>
      <nav class="md:ml-auto flex flex-wrap items-center text-base justify-center">
        <a href="/" class="mr-5 hover:text-white">Home</a>   <!--can put href here-->
        {% if not loggedIn %}
        <a href="/loginForm" class="mr-5 hover:text-white">Sign In</a>
        {% else %}
        <a class="mr-5 hover:text-white">Hello {{firstName}}</a>
        <div class="dropdown-content">
          <a href="/logout">Sign Out</a>
        </div>
        {% endif %}
      </nav>
    </div>
  </header>

<section class="text-gray-500 bg-gray-900 body-font">
<div class="container px-5 py-24 mx-auto">
<div class="xl:w-1/2 lg:w-3/4 w-full mx-auto text-center">
<!-- ############################### -->
<h1 class="title-font sm:text-4xl text-3xl mb-4 font-medium text-white">Shopping Cart ({{noOfItems}})
</h1>
<br>
<hr>
<div id="tableItems">
    {% for row in products %}
    <div>
        <hr id="seperator">
        <div id="itemImage">
            <img src={{url_for('static', filename='uploads/'+row[3])}} id="image"/>
        </div>
        <div id="itemName">
            <span id="itemNameTag">{{row[1]}}</span>
            <br>
            <span id="itemNameTag">Ticket No = {{row[4]}}</span><br>
            <a href="/removeFromCart?productId={{row[0]}}&price={{row[2]}}&ticketNo={{row[4]}}">Remove</a>
        </div>
        <div id="itemPrice">
            ${{row[2]}}
        </div>
    </div>
    {% endfor %}
    <hr id="seperator">
    <div id="total">
        <span id="subtotal">Subtotal</span> : ${{totalPrice}}
    </div>
</div>
<!-- ############################### -->
</div>
</div>
</section>
</body>
</html>