<!DOCTYPE html>
<html lang = "en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scaled = 1.0">
    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/logo.css">

    <title>Preferences</title>
</head>
<body class="bg-gray-900">

  <header class="text-gray-500 bg-gray-900 body-font">
    <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center">
      <a class="flex title-font font-medium items-center text-white mb-4 md:mb-0">
        <svg xmlns="" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-10 h-10 text-white p-2 bg-indigo-500 rounded-full" viewBox="0 0 24 24">
          <path d="M12 2L2 7l10 5 10-5-10-5zM2 17l10 5 10-5M2 12l10 5 10-5"></path>
        </svg>
        <span class="ml-3 text-xl" style="position: relative; left: 40px;">What do you like?</span>
      </a>

        <a class="flex title-font font-medium items-center text-white mb-4 md:mb-0" style=" position: absolute; left: 41%; transform: translateX(-50%);">
        <svg xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 600 300" class="text-gray-500 bg-gray-900 body-font" id="yaha">

          <!-- Symbol -->
          <symbol id="s-text">
            <text text-anchor="middle"
                    x="50%" y="50%" dy=".35em">
                LOTTERY
             </text>
          </symbol>
        
          <!-- Duplicate symbols -->
          <use xlink:href="#s-text" class="text"
                    ></use>
          <use xlink:href="#s-text" class="text"
                    ></use>
          <use xlink:href="#s-text" class="text"
                    ></use>
          <use xlink:href="#s-text" class="text"
                    ></use>
          <use xlink:href="#s-text" class="text"
                    ></use>
        
        </svg>
      </a>

      <nav class="md:ml-auto flex flex-wrap items-center text-base justify-center">
        <!-- <a href="/" class="mr-5 hover:text-white">Home</a>  -->
        <!-- <a class="mr-5 hover:text-white">Contact</a> -->
      </nav>  
          <path d="M5 12h14M12 5l7 7-7 7"></path>
        </svg>
      </button>
    </div>
  </header>

  <section class="text-gray-500 bg-gray-900 body-font">
    <div class="container px-5 py-24 mx-auto">
      <div class="flex flex-col">
        <div class="h-1 bg-gray-800 rounded overflow-hidden">
          <div class="w-24 h-full bg-indigo-500"></div>
        </div>
      </div>

  <section class="text-gray-500 bg-gray-900 body-font" style="position: relative; top: -85px;">
            <div class="flex flex-wrap sm:flex-row flex-col py-6 mb-12">
          <h1 class="sm:w-2/5 text-white font-medium title-font text-2xl mb-2 sm:mb-0" >Your fav Superhero?</h1>
        </div>
    <form action="{{ url_for('choice') }}" method="POST">
    <div class="container px-5 py-12 mx-auto">
      <div class="flex flex-wrap -m-4">
        <div class="lg:w-1/4 md:w-1/2 p-4 w-full">
          <a class="block relative h-48 rounded overflow-hidden">
            <img alt="pic" class="object-cover object-center w-full h-full block" src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRrlALsspZM0QwSkXRFeYO5kYw3En2Y7GzIH1YiHob5wGqY6e38&usqp=CAU">
          </a>
          <div class="mt-4">
            <input type="radio" id="Iron Man" name="heroes" value="Iron Man" required>
            <label for="Iron Man" style="font-size: large;">Iron Man</label><br>
          </div>
        </div>
        <div class="lg:w-1/4 md:w-1/2 p-4 w-full">
          <a class="block relative h-48 rounded overflow-hidden">
            <img alt="pic" class="object-cover object-center w-full h-full block" src="https://wallpaperaccess.com/full/1307358.jpg">
          </a>
          <div class="mt-4">
          <input type="radio" id="Cap" name="heroes" value="Cap">
          <label for="Cap" style="font-size: large;">Captain America</label><br>          </div>
        </div>
        <div class="lg:w-1/4 md:w-1/2 p-4 w-full">
          <a class="block relative h-48 rounded overflow-hidden">
            <img alt="pic" class="object-cover object-center w-full h-full block" src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQime3yaiWq1qN4KHZ5Y8XVEbLNaB5PGuHfWXFYFHOQ1oHT62fp&usqp=CAU">
          </a>
          <div class="mt-4">
          <input type="radio" id="Batman" name="heroes" value="Batman">
          <label for="Batman" style="font-size: large;">Batman</label><br>
          </div>
        </div>
        <div class="lg:w-1/4 md:w-1/2 p-4 w-full">
          <a class="block relative h-48 rounded overflow-hidden">
            <img alt="pic" class="object-cover object-center w-full h-full block" src="https://images4.alphacoders.com/209/209416.jpg">
          </a>
          <div class="mt-4">
           <input type="radio" id="Superman" name="heroes" value="Superman">
          <label for="Superman" style="font-size: large;">Superman</label><br>
          </div>
        </div>
      </div>
    </div>
  <!-- </form> -->
  </section>

  <section class="text-gray-500 bg-gray-900 body-font" style="position: relative; top: -85px;">
            <div class="flex flex-wrap sm:flex-row flex-col py-6 mb-12">
          <h1 class="sm:w-2/5 text-white font-medium title-font text-2xl mb-2 sm:mb-0" >Your fav TV Series?</h1>
        </div>
    <form>
    <div class="container px-5 py-12 mx-auto">
      <div class="flex flex-wrap -m-4">
        <div class="lg:w-1/4 md:w-1/2 p-4 w-full">
          <a class="block relative h-48 rounded overflow-hidden">
            <img alt="pic" class="object-cover object-center w-full h-full block" src="https://www.desktopbackground.org/p/2014/07/18/795296_game-of-thrones-backgrounds-wallpapers_1600x900_h.jpg">
          </a>
          <div class="mt-4">
            <input type="radio" id="Thrones" name="TV Series" value="Thrones" required>
            <label for="Thrones" style="font-size: large;">Game Of  Thrones</label><br>
          </div>
        </div>
        <div class="lg:w-1/4 md:w-1/2 p-4 w-full">
          <a class="block relative h-48 rounded overflow-hidden">
            <img alt="pic" class="object-cover object-center w-full h-full block" src="https://images.wallpapersden.com/image/download/money-heist_66878_3840x2232.jpg" >
          </a>
          <div class="mt-4">
          <input type="radio" id="Heist Series" name="TV Series" value=" Heist" required>
          <label for="Heist" style="font-size: large;">Money Heist</label><br>          </div>
        </div>
        <div class="lg:w-1/4 md:w-1/2 p-4 w-full">
          <a class="block relative h-48 rounded overflow-hidden">
            <img alt="pic" class="object-cover object-center w-full h-full block" src="https://img.wallpapersafari.com/desktop/1600/900/43/49/qIHcfz.jpg">
          </a>
          <div class="mt-4">
          <input type="radio" id="Blinders" name="TV Series" value="Blinders">
          <label for="Blinders" style="font-size: large;">Peaky Blinders</label><br>
          </div>
        </div>
        <div class="lg:w-1/4 md:w-1/2 p-4 w-full">
          <a class="block relative h-48 rounded overflow-hidden">
            <img alt="pic" class="object-cover object-center w-full h-full block" src="https://images.alphacoders.com/829/thumb-1920-829130.jpg">
          </a>
          <div class="mt-4">
           <input type="radio" id="Reasons" name="TV Series" value="Reasons">
          <label for="Reasons" style="font-size: large;">13 Reasons Why</label><br>
          </div>
        </div>
      </div>
    </div>
  <!-- </form> -->
  </section>

  <section class="text-gray-500 bg-gray-900 body-font" style="position: relative; top: -85px;">
            <div class="flex flex-wrap sm:flex-row flex-col py-6 mb-12">
          <h1 class="sm:w-2/5 text-white font-medium title-font text-2xl mb-2 sm:mb-0" >Your fav Anime Character?</h1>
        </div>
    <form>
    <div class="container px-5 py-12 mx-auto">
      <div class="flex flex-wrap -m-4">
        <div class="lg:w-1/4 md:w-1/2 p-4 w-full">
          <a class="block relative h-48 rounded overflow-hidden">
            <img alt="pic" class="object-cover object-center w-full h-full block" src="https://images.fineartamerica.com/images/artworkimages/mediumlarge/1/1-goku-super-saiyan-babbal-kumar.jpg">
          </a>
          <div class="mt-4">
            <input type="radio" id="Goku" name="Anime" value="Goku" required>
            <label for="Goku" style="font-size: large;">Goku</label><br>
          </div>
        </div>
        <div class="lg:w-1/4 md:w-1/2 p-4 w-full">
          <a class="block relative h-48 rounded overflow-hidden">
            <img alt="pic" class="object-cover object-center w-full h-full block" src="https://i.ytimg.com/vi/CTuD2EQ0p9M/maxresdefault.jpg">
          </a>
          <div class="mt-4">
          <input type="radio" id="Vegeta" name="Anime" value="Vegeta">
          <label for="Vegeta" style="font-size: large;">Vegeta</label><br>          </div>
        </div>
        <div class="lg:w-1/4 md:w-1/2 p-4 w-full">
          <a class="block relative h-48 rounded overflow-hidden">
            <img alt="pic" class="object-cover object-center w-full h-full block" src="https://wallpaperaccess.com/full/493947.jpg">
          </a>
          <div class="mt-4">
          <input type="radio" id="Naruto" name="Anime" value="Naruto">
          <label for="Naruto" style="font-size: large;">Naruto</label><br>
          </div>
        </div>
        <div class="lg:w-1/4 md:w-1/2 p-4 w-full">
          <a class="block relative h-48 rounded overflow-hidden">
            <img alt="pic" class="object-cover object-center w-full h-full block" src="https://www.shecos.com/blog/wp-content/uploads/2019/12/edward-elric-cosplay.jpg">
          </a>
          <div class="mt-4">
           <input type="radio" id="Edward" name="Anime" value="Edward">
          <label for="Edward" style="font-size: large;">Edward Elric</label><br>
          </div>
        </div>
      </div>
    </div>
  <!-- </form> -->
  </section>

  
  <section class="text-gray-500 bg-gray-900 body-font" style="position: relative; top: -85px;">
            <div class="flex flex-wrap sm:flex-row flex-col py-6 mb-12">
          <h1 class="sm:w-2/5 text-white font-medium title-font text-2xl mb-2 sm:mb-0" >Your fav Cartoon?</h1>
        </div>
    <form>
    <div class="container px-5 py-12 mx-auto">
      <div class="flex flex-wrap -m-4">
        <div class="lg:w-1/4 md:w-1/2 p-4 w-full">
          <a class="block relative h-48 rounded overflow-hidden">
            <img alt="pic" class="object-cover object-center w-full h-full block" src="https://images.squarespace-cdn.com/content/v1/54fc8146e4b02a22841f4df7/1497832653543-F9EH524VOZ7ELRAFXIEV/ke17ZwdGBToddI8pDm48kLRYo1iYLTuMb0aLuK0eAAFZw-zPPgdn4jUwVcJE1ZvWQUxwkmyExglNqGp0IvTJZamWLI2zvYWH8K3-s_4yszcp2ryTI0HqTOaaUohrI8PIAe7EifWA29OMyP628llsvFnISd6lGiCkuajMMxH8C5wKMshLAGzx4R3EDFOm1kBS/Doraemon-12-1024x576.jpg">
          </a>
          <div class="mt-4">
            <input type="radio" id="Doraemon" name="Cartoon" value="Doraemon" required>
            <label for="Doraemon" style="font-size: large;">Doraemon</label><br>
          </div>
        </div>
        <div class="lg:w-1/4 md:w-1/2 p-4 w-full">
          <a class="block relative h-48 rounded overflow-hidden">
            <img alt="pic" class="object-cover object-center w-full h-full block" src="https://1.bp.blogspot.com/-M7ADGcldJVs/Xk4ypb50gAI/AAAAAAAAAVo/NLOwk-O5WCU0r21HEhUetY6v0ijx1ueOQCLcBGAsYHQ/s1600/shin%2Bchan.jpg">
          </a>
          <div class="mt-4">
          <input type="radio" id="Shin" name="Cartoon" value="Shin">
          <label for="Shin" style="font-size: large;">Shin Chan</label><br>          </div>
        </div>
        <div class="lg:w-1/4 md:w-1/2 p-4 w-full">
          <a class="block relative h-48 rounded overflow-hidden">
            <img alt="pic" class="object-cover object-center w-full h-full block" src="https://1.bp.blogspot.com/-XaEG2arPNEE/XRYAywY26BI/AAAAAAAACkg/_ApOlweORtUX52ZGTiBpou2XGQYCkiLCQCLcBGAs/s1600/images.png">
          </a>
          <div class="mt-4">
          <input type="radio" id="Kiteretsu" name="Cartoon" value="Kiteretsu">
          <label for="Kiteretsu" style="font-size: large;">Kiteretsu</label><br>
          </div>
        </div>
        <div class="lg:w-1/4 md:w-1/2 p-4 w-full">
          <a class="block relative h-48 rounded overflow-hidden">
            <img alt="pic" class="object-cover object-center w-full h-full block" src="https://rukminim1.flixcart.com/image/352/352/poster/e/g/p/paper-plane-design-high-quality-tom-and-jerry-funny-poster-18-x-original-imaen3fzcq3txygz.jpeg?q=70">
          </a>
          <div class="mt-4">
           <input type="radio" id="Tom" name="Cartoon" value="Tom">
          <label for="Tom" style="font-size: large;">Tom & Jerry</label><br>
          </div>
        </div>

        <input type="submit" value="Proceed" class="inline-flex items-center bg-gray-800 border-0 py-1 px-3 focus:outline-none hover:bg-gray-700 rounded text-base mt-4 md:mt-0 hover:text-white" style=" position: relative; left: 50%; transform: translateX(-50%);">
      </div>
    </div>
  </form>
  </section>
</body>
</html>