<!DOCTYPE html>
<html lang = "en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scaled = 1.0">
    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
        <link rel="stylesheet" href="../static/css/logo.css">

    <link rel="stylesheet" href="../static/css/customTicket.css">

    <title>Custom Ticket</title>
    <style >.dropbtn {
      background-color: #2d3748;
      color: white;
      padding: 12px;
      vertical-align: middle;
      border-radius: 5px;
      width: 150px;
      height: 40px;
      padding: 2px;
      color: #a0aec0;

}

.dropdown {
position: relative;
display: inline-block;
}

.dropdown-content {
display: none;
position: absolute;
background-color: #f1f1f1;
min-width: 160px;
box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
z-index: 1;
}

.dropdown-content a {
color: black;
padding: 12px 16px;
text-decoration: none;
display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #4a5568; color: #fff}</style>
</head>
<body class="bg-gray-900">

  <header class="text-gray-500 bg-gray-900 body-font" style="margin-bottom: 100px">
    <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center">
      <a class="flex title-font font-medium items-center text-white mb-4 md:mb-0">
        <svg xmlns="" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-10 h-10 text-white p-2 bg-indigo-500 rounded-full" viewBox="0 0 24 24">
          <path d="M12 2L2 7l10 5 10-5-10-5zM2 17l10 5 10-5M2 12l10 5 10-5"></path>
        </svg>
        <span class="ml-3 text-xl" style="position: relative; left: 40px;">Make your own ticket</span>
      </a>

      <a class="flex title-font font-medium items-center text-white mb-4 md:mb-0" style=" position: absolute; left: 40%; transform: translateX(-40%);">
        <svg xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 600 300" class="text-gray-500 bg-gray-900 body-font" id="yaha">

          <!-- Symbol -->
          <symbol id="s-text">
            <text text-anchor="middle"
                    x="50%" y="50%" dy=".45em">
                LOTTERY
             </text>
          </symbol>
        
          <!-- Duplicate symbols -->
          <use xlink:href="#s-text" class="text"
                    ></use>
          <use xlink:href="#s-text" class="text"
                    ></use>
          <use xlink:href="#s-text" class="text"
                    ></use>
          <use xlink:href="#s-text" class="text"
                    ></use>
          <use xlink:href="#s-text" class="text"
                    ></use>
        
        </svg>
      </a>

      <nav class="md:ml-auto flex flex-wrap items-center text-base justify-center">
        <a href="/" class="inline-flex items-center bg-gray-800 border-0 py-1 px-3 focus:outline-none hover:bg-gray-700 rounded text-base mt-4 md:mt-0 hover:text-white"  style="margin-right: 5px; height: 40px;" >Home</a> 
        <a href="/cart" class="inline-flex items-center bg-gray-800 border-0 py-1 px-3 focus:outline-none hover:bg-gray-700 rounded text-base mt-4 md:mt-0 hover:text-white" style="margin-right: 5px; height: 40px;">Cart ({{noOfItems}})
           <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="relative w-4 h-4 ml-1" viewBox="0 0 24 24">
           <path d="M5 12h14M12 5l7 7-7 7"></path>
          </svg>
        </a>
        
       
        <div class="dropdown">
           {% if not loggedIn %}
            <button class="dropbtn">Sign In</button>
            <div class="dropdown-content">
                <a href="/loginForm"> Login</a><hr>
                <a href="/registerationForm"> Sign Up</a> 
           {% else %}
          <button class="dropbtn" >Hello, {{firstName}}</button>
          <div class="dropdown-content">
            <a href="/myTickets">My Tickets</a><hr>
            <a href="/logout">Sign Out
          <path d="M5 12h14M12 5l7 7-7 7"></path></a>
          </div>
        </div>
        
        {% endif %}
      </nav>

    </div>
  </header>

  <!-- ########################## -->
  <div id="container" class="container bg-white mx-auto flex flex-wrap items-center rounded-lg" >

     <svg id="product-svg" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="80mm" height="175mm"  viewBox="0 0 90 175">
      <defs/>
     <g transform="matrix(.06728 0 0 .0597 135.708 28.305)">
      <path xlink:href="#a" d="M-1451.639-127.996a8.62 8.62 0 00-8.533 8.156l-1.473 27.463-23.459 14.356a8.62 8.62 0 001.399 15.394l25.664 9.889 6.402 26.744a8.62 8.62 0 0015.074 3.428l17.336-21.352 27.416 2.174a8.62 8.62 0 007.916-13.277l-14.95-23.084 10.542-25.4a8.62 8.62 0 00-10.181-11.634l-26.575 7.084-20.902-17.875a8.62 8.62 0 00-5.676-2.066z" fill="#d4aa00"/>
      <path   d="M-1443.255-28l-7.459-31.153-29.892-11.518 27.325-16.72 1.716-31.988 24.346 20.82 30.952-8.252-12.277 29.588 17.413 26.887-31.934-2.533z" opacity="1" fill="#fc0" fill-opacity="1" stroke="none" stroke-width="1.323" stroke-miterlimit="4" stroke-dasharray="none" stroke-opacity="1"/>
     </g>
     <g transform="matrix(.06728 0 0 .0597 135.619 30.635)">
      <path xlink:href="#b" d="M-1290.596-191.465a7.784 7.784 0 00-7.142 4.777l-14.772 35.301-37.455 7.844a7.784 7.784 0 00-3.48 13.518l29.008 24.957-4.116 38.047a7.784 7.784 0 0011.782 7.486l32.7-19.877 34.91 15.67a7.784 7.784 0 0010.763-8.889l-8.797-37.242 25.69-28.361a7.784 7.784 0 00-5.13-12.98l-38.138-3.143-19.034-33.198a7.784 7.784 0 00-6.789-3.91z" fill="#d4aa00"/>
      <path id="b" d="M-1245.973-70.842l-38.645-17.345-36.197 22.001 4.555-42.113-32.11-27.627 41.46-8.682 16.352-39.076 21.069 36.748 42.216 3.477-28.439 31.393z" opacity="1" fill="#fc0" fill-opacity="1" stroke="none" stroke-width="1.323" stroke-miterlimit="4" stroke-dasharray="none" stroke-opacity="1"/>
     </g>
     <g transform="matrix(.06728 0 0 .0597 135.708 28.386)">
      <path xlink:href="#c" d="M-1129.541-127.69a7.784 7.784 0 00-4.9 1.868l-21.237 18.16-26.996-7.197a7.784 7.784 0 00-9.195 10.502l10.709 25.808-15.19 23.453a7.784 7.784 0 007.149 11.989l27.855-2.21 17.612 21.694a7.784 7.784 0 0013.611-3.094l6.508-27.174 26.072-10.046a7.784 7.784 0 001.264-13.9l-23.834-14.587-1.498-27.902a7.784 7.784 0 00-7.93-7.363z" fill="#d4aa00" fill-opacity=".932"/>
      <path  d="M1137.692-28.529l-7.459-31.153-29.891-11.518 27.324-16.72 1.716-31.988 24.346 20.82 30.953-8.252-12.278 29.587 17.413 26.888-31.933-2.534z" id="c" transform="scale(-1 1)" opacity="1" fill="#fc0" fill-opacity="1" stroke="none" stroke-width="1.323" stroke-miterlimit="4" stroke-dasharray="none" stroke-opacity="1"/>
     </g>
     <path id="product-shape" d="M21.125 26.8c.006 3.302.006 17.495.006 17.495s2.02.877 3.449 3.131c0 0 1.134 1.62 1.057 4.04v.936s-.337 4.116-4.506 6.071v68.743s-.2 6.47 6.792 7.036l3.166-.047 38.996-.012s.29 0 .667-.053c.378-.053.691-.136.691-.136l.473-.141.525-.207.573-.278.485-.3.502-.379.578-.531.55-.62s.348-.508.567-.892c.218-.384.549-1.223.661-1.66.112-.437.26-1.482.225-2.32-.036-.84-.006-2.712-.006-2.712V58.477s-.792-.295-1.864-1.191c-1.072-.897-1.46-1.72-1.46-1.72s-1.063-1.563-1.167-3.618c0 0-.104-1.43.138-2.22.242-.792.218-1.294 1.016-2.522 0 0 .435-.676.565-.776 0 0 .163-.226.276-.347.112-.121.446-.45.446-.45l.405-.343.305-.234.297-.2.405-.251.225-.117.414-.2.004-17.966s.142-2.284-1.044-4.122c0 0-1.537-2.89-5.095-3.257 0 0-.802 0-1.553-.017-.752-.017-40.982.013-40.982.013s-1.33-.1-3.043.745c0 0-1.347.632-2.22 1.872-.875 1.24-1.052 1.583-1.407 3.083 0 0-.106.768-.112 2.162z" fill="none" stroke="#000" stroke-width=".265"/>
     <text x="22" y="100" fill="black" style="font-size: 5">{{quote}}</text>
     <image x="49" y="70" width="27" height="45" src="{{character}}">
     </svg>
    
  
     <img id="background-image" src="../static/images/bb2.svg" alt="" style="display: inline-block;">
  </div>
  
  <input class="jscolor {onFineChange:'changeColor(this)'}" value="DBED64">
  <!-- partial -->
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jscolor/2.0.4/jscolor.js'></script><script  src="../static/js/customTicket.js"></script>

  <!-- ########################## -->
</body>
</html>