  <!DOCTYPE html>
<html lang = "en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scaled = 1.0">
    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
    <script type="text/javascript" src="{{ url_for('static', filename = 'js/validateForm.js') }}">
    </script>
    <title>Registration</title>
</head>
<body class="">

    <header class="text-gray-500 bg-gray-900 body-font">
        <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center">
          <a class="flex title-font font-medium items-center text-white mb-4 md:mb-0">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-10 h-10 text-white p-2 bg-indigo-500 rounded-full" viewBox="0 0 24 24">
              <path d="M12 2L2 7l10 5 10-5-10-5zM2 17l10 5 10-5M2 12l10 5 10-5"></path>
            </svg>
            <span class="ml-3 text-xl">Registration</span>
          </a>
          <nav class="md:ml-auto flex flex-wrap items-center text-base justify-center">
            <a href="/" class="inline-flex items-center bg-gray-800 border-0 py-1 px-3 focus:outline-none hover:bg-gray-700 rounded text-base mt-4 md:mt-0 hover:text-white"  style="margin-right: 5px; height: 40px;" >Home</a> 
            <!-- <a class="mr-5 hover:text-white">About</a>
            <a class="mr-5 hover:text-white">Contact</a> -->
          </nav>
              <path d="M5 12h14M12 5l7 7-7 7"></path>
            </svg>
          </button>
        </div>
      </header>

      <section class="text-gray-500 bg-gray-900 body-font " style="align-items: center;align-self: center; align-content: center; ">
        <div class="container px-5 py-24 mx-auto flex flex-wrap items-center">
         	<div class="lg:w-2/6 md:w-1/2 bg-gray-800 rounded-lg p-8 flex flex-col w-full mt-10 md:mt-0" style="position:relative; left: 50%; transform: translateX(-50%); height: 550px; width: 400px;">
         		<h2 class="text-white text-lg font-medium title-font mb-5" style="text-align: center;">Register</h2>
         		<form action="/register" method="POST" onsubmit="return validate()">
         		 <input class="bg-gray-900 rounded border text-white border-gray-900 focus:outline-none focus:border-indigo-500 text-base px-4 py-2 mb-4" name="firstName" placeholder="First Name" type="text" style="position: fixed; left: 50%; top: 15%; width: 240px; transform: translateX(-50%);" required>
         		  <input class="bg-gray-900 rounded border text-white border-gray-900 focus:outline-none focus:border-indigo-500 text-base px-4 py-2 mb-4" name="lastName" placeholder="Last Name" type="text" style="position: fixed; left: 50%; width: 240px; top: 25%; transform: translateX(-50%); " required>
         		   <input class="bg-gray-900 rounded border text-white border-gray-900 focus:outline-none focus:border-indigo-500 text-base px-4 py-2 mb-4" name="dob" placeholder="Date of Birth" type="text" onfocus="(this.type='date')" style="position: fixed; left: 50%; top: 35%; transform: translateX(-50%); width: 240px;" required>
         		   <input class="bg-gray-900 rounded border text-white border-gray-900 focus:outline-none focus:border-indigo-500 text-base px-4 py-2 mb-4" name="email" placeholder="E-mail" type="email" style="position: fixed; left: 50%; width: 240px; top: 45%; transform: translateX(-50%);" required>
         		   <input class="bg-gray-900 rounded border text-white border-gray-900 focus:outline-none focus:border-indigo-500 text-base px-4 py-2 mb-4" name="password" placeholder="Password" id="password" type="password" style="position: fixed; left: 50%; width: 240px; top: 55%; transform: translateX(-50%);" required>
         		   <input class="bg-gray-900 rounded border text-white border-gray-900 focus:outline-none focus:border-indigo-500 text-base px-4 py-2 mb-4" name="cpassword" placeholder="Confirm Password" id="cpassword" type="password" style="position: fixed; left: 50%; width: 240px; top: 65%; transform: translateX(-50%);" required>
         		   	<input type="checkbox" id="terms" name="terms" value="terms" style="position: absolute; left: 18%; top: 76%;  " label = "I agree to the terms" required>
 					 <label for="terms" style="position: absolute; top: 75%; font-size: small;  left: 22%; " >I agree to the</label><a href="/" style="position: absolute; top: 75%; font-size: small; left: 47.5%; text-decoration: underline; " class="hover:text-white"> Terms & Conditions</a><br>
                <button type="submit" value="Register" class="text-white bg-indigo-500 border-0 py-2 px-8 focus:outline-none hover:bg-indigo-600 rounded text-lg" style="position: fixed;left: 50%; transform: translateX(-50%); top: 80%;" >Register</button><br>
                <a href="/loginForm" style="position: fixed; top: 90%; left: 60px; text-decoration: underline; " class="hover:text-white">Already have an account? Login here</a>
         		</form>
          </div>
        </div>
      </section>
    </body>
    </html>